[Unit]
Description=gunicorn daemon
Requires=mediplant.socket
After=network.target


[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/mediplant
ExecStart=/home/ubuntu/mediplant/venv/bin/gunicorn \
    --env DJANGO_SETTINGS_MODULE=mediplant.settings.prod
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/mediplant.sock \
    mediplant.wsgi:application

[Install]
WantedBy=multi-user.target