[Unit]
Description=Daphne ASGI Server for Django + Channels
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/mediplant

# متغیر محیطی برای تنظیمات Django
Environment=DJANGO_SETTINGS_MODULE=mediplant.settings.prod

# اجرای daphne
ExecStart=/home/ubuntu/mediplant/venv/bin/daphne \
#           -u /run/mediplant.sock \
           --access-log - \
           mediplant.asgi:application
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
