server {
    server_name www.mediplant.ir  mediplant.ir;
    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/ubuntu/mediplant;
    }
    location /media/ {
        root /home/ubuntu/mediplant;
    }
    location / {
        include proxy_params;
        proxy_pass http://unix:/run/mediplant.sock;
    }
}
