{% load static %}
<footer class="ms-footer m-t-30">
    <div class="footer-container">
        <div class="footer-top padding-tb-60">
            <div class="container">
                <div class=" inline">
                    <div class="grid grid-cols-3 gap-3 max-[990px]:grid-cols-1 ">
                        <div class="ms-footer-cat ">
                            <div class="text-[#ccc]">
                                <a href="/">  
                                    <img src="{% static 'assets/img/logo/logo-removebg-preview.png' %}" alt="Site Logo" style="width: 80px; height: auto !important;">
                                </a>
                                <p class="">  برای حمایت از کالای ایرانی، طب سنتی و برای سلامت فرد فرد جامعه در کنار شما هستیم و به آن ها ارج می نهیم و افتخار میکنیم به همراهی شما در همه حال.</p>
                            </div>
                        </div>
                       
                        <div class="footer">
                            <div class="ms-footer-contact">
                                <div class="ms-footer-widget">
                                    <h4 class="ms-footer-heading">مخاطب</h4>
                                    <div class="ms-footer-links ms-footer-dropdown">
                                        <ul class="align-items-center">
                                            <li class="ms-footer-link ms-foo-location"><span><img
                                                    src="{% static 'assets/img/icons/foo-location.svg' %}"
                                                    class="svg_img foo_svg" alt=""></span>
                                                <p>تهران، خیابان شریعتی، بالاتر از پل سیدخندان، روبروی خیابان خواجه عبدالله انصاری
                                                    </p>
                                            </li>
                                            <li class="ms-footer-link ms-foo-call">
                                                    <span>
                                                        <img src="{% static 'assets/img/icons/foo-wp.svg' %}"
                                                            class="svg_img foo_svg" alt="">
                                                    </span>
                                                <a href="tel:+989124595216">5216 459 0912</a>
                                            </li>
                                            <li class="ms-footer-link ms-foo-mail">
                                                    <span>
                                                        <img src="{% static 'assets/img/icons/foo-mail.svg' %}"
                                                            class="svg_img foo_svg" alt="">
                                                    </span>
                                                <a href="mailto:support@mediplant.ir">support@mediplant.ir</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="ms-footer-social">
                                <div class="ms-footer-widget">
                                    <div class="ms-footer-links ms-footer-dropdown">
                                        <ul class="align-items-center">
                                            <li class="ms-footer-link"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li class="ms-footer-link"><a href="#"><i class="fa fa-twitter-square"></i></a>
                                            </li>
                                            <li class="ms-footer-link"><a href="#"><i class="fa fa-facebook-square"></i>
                                            </li>
                                            <li class="ms-footer-link"><a href="#"><i class="fa fa-linkedin-square"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-max ms-footer-cat">
                            <div class="ms-footer-widget ms-footer-company">
                                <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=598613&Code=WW6fCkjyQrIdGnK8aFySBlWbLGpTGOPs'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=598613&Code=WW6fCkjyQrIdGnK8aFySBlWbLGpTGOPs' alt='' style='cursor:pointer' code='WW6fCkjyQrIdGnK8aFySBlWbLGpTGOPs'></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="">
                    <div class="flex justify-center">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copy">
                            <div class="footer-bottom-copy ">
                                <div class="ms-copy">قدرت گرفته از <a style="color: #ef7e32;" href="https://diagramo.ir">دیاگرامو</a>   
                                </div>
                            </div>
                        </div>
                        <!-- Footer Copyright End -->
                        <!-- Footer payment -->
                         
                        <!-- Footer payment -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
