{% load static %}
<footer class="ms-footer m-t-30">
    <div class="footer-container">
        <div class="footer-top padding-tb-60">
            <div class="container">
                <div class="row m-minus-991">
                    <div class="col-sm-12 col-lg-3 ms-footer-cat">
                        <div class="ms-footer-widget ms-footer-company">
                            <img src="{% static 'assets/img/logo/footer-logo.png' %}" class="ms-footer-logo"
                                 alt="footer logo">
                            <p class="ms-footer-detail">مسترکارت بزرگترین بازار محصولات خواربار فروشی است. نیازهای
                                روزانه خود را از فروشگاه ما دریافت کنید.</p>
                            <div class="ms-app-store">
                                <a href="#" class="app-img"><img src="{% static 'assets/img/app/android.png' %}"
                                                                 class="adroid" alt="apple"></a>
                                <a href="#" class="app-img"><img src="{% static 'assets/img/app/apple.png' %}"
                                                                 class="apple" alt="apple"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ms-footer-info">
                        <div class="ms-footer-widget">
                            <h4 class="ms-footer-heading">دسته بندی</h4>
                            <div class="ms-footer-links ms-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="ms-footer-link"><a href="shop-left-sidebar-col-3.html"> شیر و لبنیات </a>
                                    </li>
                                    <li class="ms-footer-link"><a href="shop-banner-left-sidebar-col-3.html">میان وعده و
                                        ادویه</a></li>
                                    <li class="ms-footer-link"><a href="shop-full-width-col-5.html">فست فود</a></li>
                                    <li class="ms-footer-link"><a href="shop-list-left-sidebar.html">آبمیوه و
                                        نوشیدنی</a></li>
                                    <li class="ms-footer-link"><a href="shop-list-full-col-2.html">نانوایی</a></li>
                                    <li class="ms-footer-link"><a href="shop-banner-right-sidebar-col-4.html">غذای
                                        دریایی</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ms-footer-account">
                        <div class="ms-footer-widget">
                            <h4 class="ms-footer-heading">شرکت</h4>
                            <div class="ms-footer-links ms-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="ms-footer-link"><a href="about-us.html">درباره ما</a></li>
                                    <li class="ms-footer-link"><a href="track-order.html">تحویل</a></li>
                                    <li class="ms-footer-link"><a href="privacy-policy.html">اطلاع قانونی</a></li>
                                    <li class="ms-footer-link"><a href="terms-condition.html">شرایط و ضوابط</a></li>
                                    <li class="ms-footer-link"><a href="checkout.html">پرداخت امن</a></li>
                                    <li class="ms-footer-link"><a href="contact-us.html">تماس با ما</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ms-footer-service">
                        <div class="ms-footer-widget">
                            <h4 class="ms-footer-heading">حساب کاربری</h4>
                            <div class="ms-footer-links ms-footer-dropdown">
                                <ul class="align-items-center">
                                    <li class="ms-footer-link"><a href="register.html">ثبت نام</a></li>
                                    <li class="ms-footer-link"><a href="cart.html">مشاهده سبد خرید</a></li>
                                    <li class="ms-footer-link"><a href="privacy-policy.html">سیاست بازگشت</a></li>
                                    <li class="ms-footer-link"><a href="#">فروشنده شوید</a></li>
                                    <li class="ms-footer-link"><a href="#">برنامه های وابسته</a></li>
                                    <li class="ms-footer-link"><a href="checkout.html">مبلغ پرداختی</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 ms-footer-cont-social">
                        <div class="ms-footer-contact">
                            <div class="ms-footer-widget">
                                <h4 class="ms-footer-heading">مخاطب</h4>
                                <div class="ms-footer-links ms-footer-dropdown">
                                    <ul class="align-items-center">
                                        <li class="ms-footer-link ms-foo-location"><span><img
                                                src="{% static 'assets/img/icons/foo-location.svg' %}"
                                                class="svg_img foo_svg" alt=""></span>
                                            <p>ایران - تهران </p>
                                        </li>
                                        <li class="ms-footer-link ms-foo-call">
                                                <span>
                                                    <img src="{% static 'assets/img/icons/foo-wp.svg' %}"
                                                         class="svg_img foo_svg" alt="">
                                                </span>
                                            <a href="tel:+009876543210">6789 345 0912</a>
                                        </li>
                                        <li class="ms-footer-link ms-foo-mail">
                                                <span>
                                                    <img src="{% static 'assets/img/icons/foo-mail.svg' %}"
                                                         class="svg_img foo_svg" alt="">
                                                </span>
                                            <a href="mailto:example@email.com">example@email.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ms-footer-social">
                            <div class="ms-footer-widget">
                                <div class="ms-footer-links ms-footer-dropdown">
                                    <ul class="align-items-center">
                                        <li class="ms-footer-link"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li class="ms-footer-link"><a href="#"><i class="fa fa-twitter-square"></i></a>
                                        </li>
                                        <li class="ms-footer-link"><a href="#"><i class="fa fa-facebook-square"></i>
                                        </li>
                                        <li class="ms-footer-link"><a href="#"><i class="fa fa-linkedin-square"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="ms-bottom-info">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copy">
                            <div class="footer-bottom-copy ">
                                <div class="ms-copy">کپی رایت © <a class="site-name" href="index.html">پیلارست</a> تمامی
                                    حقوق محفوظ است. پشتیبانی شده توسط Pilarest
                                </div>
                            </div>
                        </div>
                        <!-- Footer Copyright End -->
                        <!-- Footer payment -->
                        <div class="footer-bottom-right">
                            <div class="footer-bottom-payment d-flex justify-content-center">
                                <div class="payment-link">
                                    <img src="{% static 'assets/img/hero-bg/payment.png' %}" alt="payment">
                                </div>

                            </div>
                        </div>
                        <!-- Footer payment -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
