{% load static %}
<div id="ms-side-cart" class="ms-side-cart">
    <div class="ms-cart-inner">
        <div class="ms-cart-top">
            <div class="ms-cart-title">
                <span class="cart_title">سبدهای فعال</span>
                <a href="javascript:void(0)" class="ms-cart-close"> <img src="{% static 'assets/img/icons/close.svg' %}"
                                                                         class="svg_img pro_svg" alt="close"></a>
            </div>
            <ul class="ms-cart-pro-items">
{#                {% for i in basket %}#}
{#                    <li>#}
{#                        <a href="shop/{{ i.shop.id }}" class="ms-pro-img"><img#}
{#                                src="{{ i.shop.image.url }}" alt="product"></a>#}
{#                        <div class="ms-pro-content">#}
{#                            <a href="shop/{{ i.shop.id }}" class="cart-pro-title">{{ i.shop.name }}</a>#}
{#                            <span class="cart-price"><span>2500 تومان x</span> قیمت</span>#}
{#                            <a href="#" onclick="removeShopBasket({{ i.id }})" class="remove">×</a>#}
{#                        </div>#}
{#                    </li>#}
{#                {% endfor %}#}
            </ul>
        </div>

{#        <div class="ms-cart-bottom">#}
{#            <div class="cart-sub-total">#}
{#                <table class="table cart-table">#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <td class="text-left">جمع فرعی:</td>#}
{#                        <td class="text-right">300 هزار</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="text-left">مالیات بر ارزش افزوده (20%):</td>#}
{#                        <td class="text-right">60 هزار</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td class="text-left">جمع :</td>#}
{#                        <td class="text-right primary-color">360 هزار</td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#            <div class="cart_btn">#}
{#                <a href="cart.html" class="ms-btn-1">مشاهده سبد خرید</a>#}
{#                <a href="checkout.html" class="ms-btn-2">بررسی خرید</a>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
<script>

    function removeShopBasket(shopId) {
        
        var settings = {
            "url": `/basket/${shopId}`,
            "method": "DELETE",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer {{ token }}",
                "Cookie": "sessionid=e3cepmodnidpiw6ynv73fqogurvalb7x"
            },
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    }
</script>
<script src="{% static 'assets/js/plugins/jquery-3.5.1.min.js' %}"></script>
<script>
function getAllBasket() {
    var settings = {
        "url": "/basket/", 
        "method": "GET",
        "timeout": 0,
        "headers": {
            "Authorization": "Bearer {{ token }}",  
        },
    };

    $.ajax(settings).done(function (response) {
        updateBasket(response);  
    });
}
function updateBasket(basketItems) {
    var basketContainer = $('.ms-cart-pro-items');  
    basketContainer.empty();  

    if (basketItems.length > 0) {
        basketItems.forEach(function(item) {
            var basketItemHTML = `
                <li>
                    <a href="shop/${item.shop}" class="ms-pro-img">
                        <img src="${item.image}" alt="product">
                    </a>
                    <div class="ms-pro-content">
                        <a href="shop/${item.shop}" class="cart-pro-title">${item.name}</a>
                        <span class="cart-price"><span>${item.price} تومان x</span> قیمت</span>
                        <a href="#" onclick="removeShopBasket(${item.id})" class="remove">×</a>
                    </div>
                </li>
            `;
            basketContainer.append(basketItemHTML);  // اضافه کردن آیتم جدید به سبد خرید
        });
    } else {
        basketContainer.append("<li>سبد خرید شما خالی است</li>");  // نمایش پیام در صورت خالی بودن سبد خرید
    }
}
function removeShopBasket(itemId) {
    console.log(`Removing item ${itemId} from basket`);
    var settings = {
        "url": `/basket/${itemId}/`,  // URL برای حذف آیتم از سبد خرید
        "method": "DELETE",  // درخواست POST برای حذف
        "timeout": 0,
        "headers": {
            "Authorization": "Bearer {{ token }}",  // اضافه کردن توکن به درخواست
        },
    };

    $.ajax(settings).done(function(response) {
        getAllBasket();  // به‌روزرسانی سبد خرید پس از حذف آیتم
    });
} 
    $(document).ready(function () {
      getAllBasket()
    });
</script>