@font-face {
    font-family: sans;
    src: url('./assets/font/IRANSans.ttf');    
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-index{
    /* border: 1px solid black; */
    width: 300px;
    text-align: center;
    margin: 0 8px;
}
.box-index .success{
    margin: 0;
    color: green;
    font-family: sans;
    font-size: 16px;
}
.box-index .failed{
    margin: 0;
    color: rgb(177, 49, 49);
    font-family: sans;
    font-size: 16px;
}
.box-index p{
    font-family: sans;
    font-size: 16px;
    margin: 8px 0;
    color: #9b9b9b;
}

.img-success{
    width: 120px;
    height: 120px;
}
.box-main{
    /* border: 1px solid black; */
    border-radius: 8px;
    background-color: white;
}
.box-main ul{
    list-style: none;
    margin: 0;
    padding: 0 8px;
}
.box-main ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.box-main ul li p{
    font-size: 12px;
}
.box-index button{
    padding: 4px 16px;
    font-family: sans;
    border-radius: 8px;
    background-color: #6fbcd2;
    border: none;
    color: white;
    margin: 8px 0;
    cursor: pointer;
}
.li-not-border{
    border-bottom: none !important;
}


@media (max-width: 1020px) {
    .payment-box {
        width: 30%;
    }
}
@media (max-width: 992px) {
    .payment-box {
        width: 80%;
    }
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.text-xl {
    font-size: 1.25rem;
}

.button-general {
    width: 100%;
    margin-top: 16px;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.button-general:hover {
    background-color: #0056b3;
}

.button-container {
    margin-top: 16px;
}
